<html>
    <body style="background-image: url('https://tse2.mm.bing.net/th?id=OIP.zhNMSQHlSLz6pWznmBRXJAHaE8&pid=Api&P=0&h=180');
    background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

        <center>

        <h1 style="color: rgb(8, 8, 8);">CROP YEILD PREDICTION</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
            <table>
           <b>
            <tr><td>Nitrogen</td><td><input type="text", name='Nitrogen', placeholder="Nitrogen" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>Phosporus</td><td><input type="text", name='Phosporus', placeholder="Phosporus" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>Potassium</td><td><input type="text", name='Potassium', placeholder="Potassium" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>Temperature</td><td><input type="text", name='Temperature', placeholder="Temperature" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>Humidity</td><td><input type="text", name='Humidity', placeholder="Humidity" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>Area</td><td><input type="text", name='Area', placeholder="Area" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>crop_year</td><td><input type="text", name='crop_year', placeholder="crop_year" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td>Rain_fall</td><td><input type="text", name='Rain_fall', placeholder="Rain_fall" style="height:30px;border-radius:10%;"></td></tr>
            <tr><td><label for="districts">district</label></td><td><input list="districts" ,id="district" ,type="text", name='district', placeholder="district" style="height:30px;border-radius:10%;">
                <datalist id="districts">
                  <option value="chittoor">
                  <option value="anantapur">
                </datalist></td></tr>
                
            <tr><td><label for="crop_names">crop_name</label></td><td><input list="crop_names" ,id="crop_name" ,type="text", name='crop_name', placeholder="crop_name" style="height:30px;border-radius:10%;">
                <datalist id="crop_names">
                    <option value="Wheat">
                    <option value="Urad">
                    <option value="Sunflower">
                    <option value="Sugarcane">
                    <option value="Sesamum">
                    <option value="Rice">
                    <option value="Ragi">
                    <option value="Onion">
                    <option value="Moong(Green Gram)">
                    <option value="Maize">
                    <option value="Linseed">
                    <option value="Jowar">
                    <option value="Horse-gram">
                    <option value="Groundnut">
                    <option value="Gram">
                    <option value="Dry chillies">
                    <option value="Banana">
                  </datalist>
            </td></tr>
            
            <tr><td><label for="seasons">season</label></td><td><input list="seasons" ,id="season",type="text", name='season', placeholder="season" style="height:30px;border-radius:10%;"></td></tr>
            <datalist id="seasons">
                <option value="kharif">
                <option value="rabi">
                <option value="summer">
                <option value="whole year">
              </datalist></td></tr>
        </b>
            </table><br><br>
          <input type="submit" , value='predict' style="font-size:30px; height:50;width:150px;background-color: rgb(165, 228, 245);border-radius: 30%;">
        </form>


    </center>

    </body>
</html>
